.main {
  display: flex;
  align-items: center;
  padding: 4rem;
  min-height: 65vh;
  gap: 100px;
}

.textContainer {
  flex: 1;
  width: 50vw;
}

.imageContainer {
  flex: 1;
  position: relative;
  width: 40vw;
  height: 40vh;
}
